page-featured-events {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }
    .card-title {
      position: absolute;
      top: 36%;
      width: 90%;
      left: 5%;
      font-size: 2.0em;
      font-weight: light;
      text-align: center;
      color: #fff;
    }
    .card-subtitle {
      font-size: .5em;
      font-weight:lighter;
      position: static;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
}
