<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      <span>Eventos Disponibles</span>
    </ion-title>
    <ion-buttons end>
        <!--
        <button ion-button icon-only (click)="togglePopover($event)">
          <ion-icon name="search"></ion-icon>
        </button>-->
        <button ion-button icon-only (click)="toggleFilter($event)">
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines [@slideIn]="filterState">
      <ion-item>
        <ion-searchbar
          [(ngModel)]="filter.searchText"
          (ionInput)="onSearchText($event)"
          placeholder="Buscar"
          animated="true">
        </ion-searchbar>
      </ion-item>
      <ion-item>
        <ion-label>Categoría</ion-label>
        <ion-select [(ngModel)]="filter.category">
          <ion-option
            *ngFor="let cat of categories"
            (click)="categorySelected(cat)"
            [value]="cat.value"
            [selected]="cat.value == filter.category">
            {{cat.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Cuándo:</ion-label>
        <ion-select [(ngModel)]="filter.date">
          <ion-option
            *ngFor="let dat of dateOptions"
            [value]="dat.value"
            [selected]="dat.value == filter.date">
            {{dat.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="filter.searchText">
        <span *ngIf="filter.searchText">Estás buscando: {{filter.searchText}}</span>
      </ion-item>
    </ion-list>
  <ion-list class="event-list">
    <ion-item button no-lines
    *ngFor="let event of (events | eventsFilter:[filter.searchText,filter.category])"
    (click)="viewEvent(event)"
    class="events-list">
      <ion-thumbnail item-left>
        <img src="assets/img/temp-icon2.png"/>
      </ion-thumbnail>
      <span class="event-title">
        {{(event.category | categoryTranslate)}}: {{event.title}}
      </span>
      <span class="event-summary">
        <p *ngIf="!event.cost">
          Entrada Liberada
        </p>
        <p *ngIf="event.when">
          {{(event.when.start | timeFormat:'timeTo')}}
        </p>
        <p *ngIf="event.where">{{event.where}}</p>
      </span>
    </ion-item>
  </ion-list>
</ion-content>
