<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      Lista de Eventos
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item button *ngFor="let event of events" (click)="viewEvent(event)">
      <ion-thumbnail item-left>
        <img src="assets/img/card-saopaolo.png"/>
      </ion-thumbnail>
      {{event.title}}
      <p *ngIf="!event.cost">
        Entrada Liberada
      </p>
      <p *ngIf="event.when">{{event.when.start}}</p>
      <p *ngIf="event.where">{{event.where}}</p>
    </ion-item>
  </ion-list>
</ion-content>
