page-events-list {
  .item-md{
    padding-left: 5px !important;
  }

  .label-md{
    margin: 0px 0px 0px 0px;
  }
  .label-md:first-line{
    //background-color: red;
  }
  .label-md .label-title{
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  /*
  ion-thumbnail img{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  */
}
