page-events-list {
  .events-filter{
    position:fixed !important;
    width: 100%;
    top: 56px;
    z-index: 100;
    background-color: white;
    border-bottom: 2px #aa0000 solid;
  }
  .event-list{
    margin-bottom: 0px;
    background-color: white;
    .item-md{
      padding-left: 0px !important;
      background-color: rgb(250, 250, 250);
      border-bottom: 1px solid rgb(210, 210, 210) !important;
      margin-top: 5px;
      margin-left: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      .event-ticket{
        float:left;
        display: block;
        min-height:6em;
        width:6em;
        margin:0 10px 0 0;
        padding:0;
        border:0;
        heigth:100%;
        background-color: #aa0000;
        color: white;
        border-left: 10px solid #aa0000 !important;
        border-right: 10px solid #aa0000 !important;
        opacity:.7;
        .event-ticket-day{
          font-size: 2.5em;
          float:left;
          clear:right;
        }
        .event-ticket-month{
          float:left;
          clear:left;
        }
        .event-ticket-category{
          float:left;
          clear:left;
          word-break: break-all;
        }
      }
      .event-title{
        color: #aa0000;
      }
      .event-summary{
        display: block;
        overflow: hidden;
      }
      .event-summary p{
        color: #8b8b8b !important;
        text-overflow: ellipsis !important;
      }
    }
    .icon-md{
      color:#aa0000;
    }
    .label-md{
      margin: 0px 0px 0px 0px;
    }
    .label-md .label-title{
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
  }
  /*
  .item-md{
    padding-left: 0px !important;
    //background-color: rgb(163, 59, 59) !important;
  }

  .events-list{
    .label-md{
      margin: 0px 0px 0px 0px;
      background-color: black;
      word-wrap: break-word;
      text-overflow: ellipsis;
      .category-music{    background-color: rgb(163, 59, 59) !important; }
      .category-theatre{  background-color: rgb(59, 59, 59) !important;  }
      .category-festival{ background-color: rgb(3, 116, 21) !important; }
      .category-fair{     background-color: rgb(0, 52, 189) !important; }
      .category-movie{    background-color: rgb(58, 1, 110) !important; }
      .category-exposition{ background-color: rgb(162, 64, 42) !important; }
      .category-outdoor{  background-color: rgb(154, 176, 11) !important; }
      .category-talk{     background-color: rgb(96, 171, 22) !important; }
      .event-item{
        min-height:6em;
        width: 100%;
        margin:0;
        padding: 0;
        border: 0;

        .event-title{
          display:block;
          padding-top: 10px !important;
          color:white !important;
        }
        .event-summary p{
          color:white !important;
          text-indent: 1em;
        }
        img {
          float: left;
          max-height: 6em;
          margin-right: 10px;
        }

      }
    }
  }*/
  /*
  ion-thumbnail img{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  */
}
