<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalles del Evento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{event.title}}
    </ion-card-header>
    <ion-card-content>
      {{event.description}}      
      <ion-item *ngIf="event.where">
        <ion-icon name="locate" item-left large></ion-icon>
        <h2>¿Dónde?</h2>
        <p>{{ event.where }}</p>
      </ion-item>
      <ion-item *ngIf="event.when">
        <ion-icon name="clock" item-left large></ion-icon>
        <h2>¿Cuándo?</h2>
        <p>{{ (event.when.start | timeFormat:'normal') }}</p>
      </ion-item>
      <ion-item *ngIf="event.cost">
        <ion-icon name="pricetags" item-left large></ion-icon>
        <h2>¿Cuánto?</h2>
        <ion-list>
          <ion-item *ngFor="let c of event.cost">{{c.text}}: ${{c.value}}</ion-item>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
